html {
	display: flex;
	justify-content: center;
	background-color: #141414;
}

#pantalla_juego {
	border: 1px solid #c0c0c0;
}

h1 {
	text-align: center;
	color: #c0c0c0;
}

.juego {
	display: none;
}